.section#nav
  .logo-container
    a(href='/').logo
      img(src='/assets/img/logo2.svg')
  .nav-container
    .nav
      ul.nav-list
        li.active: a.nav-link#about ABOUT
        li: a.nav-link#reference REFERENCE
        li: a.nav-link#contact CONTACT